extend layout
block content
    h1 Welcome!
    p.
        Some text dsads dsa dsa dsa dsa dsa dsa sda dsa asd d sa dsa
    p.
        other text fdsfwe  wer ew rew rew rwe rwe rwe fwe rew rew rwe erw erw rwe 
block sidebar
    .block
        h1 Right Sidebar
        p.
            Additional text fds fds fds fds  ewrt we g fg sg r fdsfd 
        br.
        .readmore
            a(href="http://example.com") Read More